Debug

TestResults

/MovieFinder.Web/bin

/*.suo
/MovieFinder.Data/bin/Release
/MovieFinder.Data/obj/Release
/MovieFinder.Installer/Release
/MovieFinder.Scraper/bin/Release
/MovieFinder.Scraper/obj/Release
/MovieFinder.ScraperClient/bin/Release
/MovieFinder.ScraperClient/obj/x86/Release
/MovieFinder.Setup/bin/Release
/MovieFinder.Setup/obj/x86/Release
/MovieFinder.Test.Forms/bin/Release
/MovieFinder.Test.Forms/obj/x86/Release
/MovieFinder.Test/bin/Release
/MovieFinder.Test/obj/Release
/MovieFinder.UpService/bin/Release
/MovieFinder.UpService/obj/x86/Release
/MovieFinder.Web/obj/Release
/MovieSearch.Client/bin/Release
/MovieSearch.Client/obj/x86/Release

/MovieFinder.Client.Scraper/bin/Release

/MovieFinder.Client.Scraper/obj/Release

/MovieFinder.Viewer/obj/x86/Release

/MaxTube.UpService/bin/Release

/MaxTube.UpService/obj/x86/Release

/MovieFinder.Viewer/bin/Release

/BlueTube.Web/bin

/MovieFinder.Viewer/*.user

/MaxTube.UpService/bin/*.pdb
/Bluetube.Installer/bin/Release
/Bluetube.Installer/obj/x86/Release
/BlueTube.Web/obj/Release
/Maxtube.Setup/Release

/BlueTube.Web/App_Data/download.txt
/MovieTube.Client.Scraper/bin/Release
/MovieTube.Client.Scraper/obj/Release
/MovieTube.Viewer/bin/Release
/MovieTube.Viewer/obj/x86/Release

/MovieFinder.Web/App_Data/MovieTube.Installer.exe

/MovieTube.Installer/Resources/MovieTube.Setup.msi
/MovieTube.Viewer/Resources/a.html

/MovieTube.Installer/Resources/setup.exe
/Lib/Data/movie_temp.db
/MovieFinder.Web/App_Data/MTDownloader.exe
/MovieFinder.Web/App_Data/movie.db
*.pdb
/MovieTube.UpService/bin/MovieTube.UpService.vshost.exe.manifest
/MovieTube.UpService/bin
/MovieTube.Web/bin
