<!DOCTYPE html>
<html lang="en-US"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="width=1024">
<title>  Bluetube, Porn at your finger tips</title>
<link rel="stylesheet" href="./assets/css/style.css" type="text/css" media="screen">
		<link rel="stylesheet" type="text/css" href="./assets/css/projects.css" media="screen">
<link rel="stylesheet" type="text/css" href="./assets/css/jquery.fancybox.css" media="screen">
<link rel="stylesheet" id="bbp-default-bbpress-css" href="./assets/css/bbpress.css" type="text/css" media="screen">
<link rel="stylesheet" type="text/css" href="./assets/css/font-awesome.css " />
<script type="text/javascript" src="./assets/js/jquery.min.js"></script>
<script type="text/javascript" src="./assets/js/jquery-ui-1.8.17.js"></script>
<script type="text/javascript" src="./assets/js/jquery.annotate.js"></script>
<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->


	</head>
<body data-twttr-rendered="true">
		
<div id="menu">
<ul>
<li class="page_item"><a href="#_home">Home</a></li>
<li class="page_item"><a href="#_overview">Overview</a></li>
@*<li id="menu_rss">
<a class="contact" id="getintouchlink" href="#getintouch" id=""><i class="fa fa-envelope fa-2x"></i></a>
<a class="facebook" href="#" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
<a class="twitter" href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
</li>*@
</ul>
</div>

<div id="top"></div>


<section id="_home" title="home"> 
<div id="page">
<div id="wrapper">
<div id="content" style="width:100%">
<div class="post">

<h1 class="title_">
<a href="#" title="Millions of videos at your fingertips" class="logo"></a>
</h1>

<div class="project">

<div id="slideshow"> 
<img src="./assets/imgs/slide1.png" alt="" class="active" style="opacity: 1;"> 
<img src="./assets/imgs/slide2.png" alt="" class="" style="opacity: 1;"> 
<img src="./assets/imgs/slide3.png" alt="" class="" style="opacity: 1;">
</div> 
 
<p class="projectDesc" style=""> 
Browse, watch and book mark videos <br>
Built in Quick Search and Related Videos.
@*<a id="readMoreLink" href="#readMore">Read more</a>*@
</p> 
 
 
 <ul class="features downloads gradient"> 
 
<li class="windows">
<div class="os"></div>	
<b>Windows</b> 
<div style="margin: 1em 0"> 
<form action="/Home/Download" method="post">
@*<a href="/Home/Download" class="large awesome blue" >Download</a>*@
<input type="submit" class="large awesome blue" value="Download">
</form>

</div> 
 Works on: 2000 / XP / Vista / 7 / 8</li>
 
<li class="mac">
<div class="os"></div>		
<b>Mac OS X</b> 
<div style="margin: 1em 0">
<a href="#" class="large awesome orange">Coming SOON</a>
</div> 
</li> 
 
<li class="ubuntu">
<div class="os"></div>	
<b>Ubuntu</b> 
<div style="margin: 1em 0">
<a href="#" class="large awesome orange">Coming SOON</a> 
</div> 
</li>
</ul>
 
</div> <!--end proj-->
</div> <!--end post-->
</div> <!--end content-->
</div> <!--end wrapper-->
</div> <!--end Page-->

</section>


<section id="_overview" title="home"> 
<div id="page">
<div id="wrapper">
<div id="content" style="width:100%">
<div class="post">

<h1 class="title_">Overview
<br /> <b>Let's take a closer look</b>
</h1>

<div class="project">
	
	
<div class="overview_image">
     <img id="toAnnotate" src="./assets/imgs/slide1.png" alt="BlueTube interface"  />
</div>
	
	
<ul class="features"> 
<li>
<b>View</b>
<i class="info fa fa-cogs fa-5x"></i>
<p>Play your favourite videos using built in player. No more ads.</p>
</li> 
<li>
<b>Search, Browse and Favourite</b>
<i class="info fa fa-users fa-5x"></i>
<p>Search millions of videos using the built in quick search.  Save your favourites for later viewing</p>
</li>
<li>
<b>Privacy</b>
<i class="info fa fa-tachometer fa-5x"></i>
<p>No malware and cookies. Pressing Ctrl + S shows/hides the application</p>
</li>
</ul>		


@*<ul class="cols">
<li>
Help translating Bluetube to your native language! You can do it online on
<a href="#">Transifex</a>.
</li>
<li>
Need help? Found a bug? Have a suggestion? Head over to the
<a href="#">Forums</a>.
</li>
</ul>


<div id="quotes">
<ul>
<li class="" style="opacity: 0;">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris nisi, blandit non lorem ac, dapibus congue quam. Sed sit amet congue lorem.</p>
<span>Monkey</span>
</li>
<li class="" style="opacity: 0;">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris nisi, blandit non lorem ac, dapibus congue quam. Sed sit amet congue lorem.
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris nisi, blandit non lorem ac, dapibus congue quam. Sed sit amet congue lorem.</p>
<span>Dog</span>
</li>
<li class="" style="opacity: 0;">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris nisi, blandit non lorem ac, dapibus congue quam. Sed sit amet congue lorem.</p>
<span>Duck</span>
</li>
<li class="" style="opacity: 0;">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris nisi, blandit non lorem ac.</p>
<span>Cat</span>
</ul>
</div>*@
<ul class="features downloads gradient"> 
 
<li class="windows">
<div class="os"></div>	
<b>Windows</b> 
<div style="margin: 1em 0"> 
<form action="/Home/Download" method="post">
@*<a href="/Home/Download" class="large awesome blue" >Download</a>*@
<input type="submit" class="large awesome blue" value="Download">
</form>

</div> 
 Works on: 2000 / XP / Vista / 7 / 8</li>
 
<li class="mac">
<div class="os"></div>		
<b>Mac OS X</b> 
<div style="margin: 1em 0">
<a href="#" class="large awesome orange">Coming SOON</a>
</div> 
</li> 
 
<li class="ubuntu">
<div class="os"></div>	
<b>Ubuntu</b> 
<div style="margin: 1em 0">
<a href="#" class="large awesome orange">Coming SOON</a> 
</div> 
</li>
</ul>
<div style="display:none">

<div id="readMore" class="box">
<p>Bluetube focuses on a pleasing overall experience, not on having tons of features:</p>
<ul class="fa-ul" style="font-size:.8em">
<li><i class="fa-li fa fa-check-square"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
<li><i class="fa-li fa fa-check-square"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
<li><i class="fa-li fa fa-check-square"></i>Lorem ipsum dolor sit amet adipiscing elit. </li>
<li><i class="fa-li fa fa-check-square"></i>Lorem ipsum dolor sit amet. </li>
<li><i class="fa-li fa fa-check-square"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
<li><i class="fa-li fa fa-check-square"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem. </li>
<li><i class="fa-li fa fa-check-square"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
<li><i class="fa-li fa fa-check-square"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
<li><i class="fa-li fa fa-check-square"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. .</li>
</ul>
</div>
</div><!-- display:none -->


</div> <!--end proj-->
</div> <!--end post-->
</div> <!--end cont-->
</div> <!--end wrapper-->
</div> <!--end page-->
</section>



<script type="text/javascript" src="./assets/js/scripts.js"></script>
<script type="text/javascript">
 
$(document).ready(function() {
    setInterval( "slideSwitch()", 5000 );
    $("#readMoreLink").fancybox();
    setInterval("slideCritique()", 8000);
});
 
</script> 

<!-- GET IN TOUCH ADDITIONAL -->
@*
<div style="display:none">
<div id="getintouch">
<h2>Get in touch!</h2>
<p>For technical support, bug reports and feature requests you can contact me via email on <a href="mailto:info@bluetube.com">info@blue.com</a>.</p>
</div>
</div> *@<!--end display:none -->

<script type="text/javascript">
$(document).ready(function() {
$("#getintouchlink").fancybox();
if (window.location.hash == "#getintouch") $("a#getintouchlink").trigger("click");
});
</script>

@*<script type="text/javascript" src="./assets/js/widgets(1).js"></script>*@
<script type="text/javascript" src="./assets/js/jquery.fancybox.js"></script>
        <!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52acfb231f1b32aa"></script>
<script type="text/javascript">
    addthis.layers({
        'theme': 'transparent',
        'share': {
            'position': 'left',
            'numPreferredServices': 5
        },
        'whatsnext': {},
        'recommended': {}
    });
</script>
<!-- AddThis Smart Layers END --> 

</body></html>