<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MovieFinderEntities" connectionString="metadata=res://*/MovieDB.csdl|res://*/MovieDB.ssdl|res://*/MovieDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=23.226.224.15;initial catalog=MovieFinder;user id=moviefinder;password=(Sui5cv9);multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="MovieFinderEntities" connectionString="metadata=res://*/MovieDB.csdl|res://*/MovieDB.ssdl|res://*/MovieDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.21;initial catalog=MovieFinder;user id=sa;password=(Sui5cv9);multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ExportPath" value="..\..\..\lib\data\"/>
    <!--<add key="ExportPath" value="..\inetpub\wwwroot\MovieFinder\App_Data\"/>-->
  </appSettings>
</configuration>
