<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="BlueTube.Viewer.Properties.Settings.dbConnectionString"
        connectionString="Data Source=|DataDirectory|\Data\db.sdf"
        providerName="Microsoft.SqlServerCe.Client.3.5" />
</connectionStrings>
  <appSettings >
    <add key="Log" value="true"/>
    
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
