<h4>
    <i class="icon-comments box-icon-gray box-icon-to-normal box-icon-left animate-icon-bounce">
    </i>Comments</h4>
<div class="fb-comments" data-href="http://abcmalayalam.com/2014/5396/rajadhi-raja-malayalam-movie-online" data-colorscheme="light"
    data-width="470">
</div>
<div id="fb-root">
</div>
<script type="text/javascript">
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));
</script>
