<div >
    <div class="container">
        <div class="row" >
            <div class="span7 offset2">
                <div class="row" ng-show="!settings.flashInstalled">
                 <a  href="http://www.adobe.com/go/getflashplayer" target="_blank" >
	                <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player"  style="width:auto"/>
                </a>
                </div>
                <div class="row">
                <div style="max-width: 600px; max-height: 400px; width: 100%; height: 400px;" >
                <div  watch-View>
                </div>
                </div>
                </div>
                 <div class="row">
                  <div>
            <input type="button" class="btn " data-toggle="collapse" data-target="#toggleDemo"
                value="Toggle Links"/>
               
            </div>
            <div id="toggleDemo" class="collapse in">
                    <div class="">
                        <ul class="list list-inline list-icon-color">
                            <li ng-repeat="link in movie.Links" class="span2 video-link "><span style="text-decoration: underline;">
                                {{ link.HostSite}}</span>
                                <a href="{{link.Url}}"target="_blank">&nbsp;&nbsp;<i class="icon-external-link"></i></a>
                                <br />
                                <a href="" ng-click="play($index)" ng-class="{'active' : settings.playingIndex == $index}"><i class="icon-play"></i>&nbsp;Play&nbsp;
                                <span style="font-size:smaller">{{link.Title}}</span></a> </li>
                        </ul>
                    </div>
                </div>
                 </div>
            </div>
            <div class="span3">
             <aside class="hidden-phone">
           
            <div class="thumb item new animate">
                <div class="well well-small  shadow-box">
                    <div class="thumb">
                        <div class="thumb-header hover-img">
                            <a class="hover-img" href="{{movie.Url}}">
                                <img ng-src="{{movie.ImageUrl}}" style="height: 100%;" err-src="/Content/img/no_image.gif" />
                            </a>
                        </div>
                        <div class="thumb-caption">
                            <div class="fixed-height">
                                <p>
                                    {{movie.Title + ' (' + movie.ReleasedYear + ')'}}</p>
                            </div>
                            <ul class="list list-inline thumb-meta">
                                <li class="icon-calendar"><span><small>{{movie.PostedDate}}</small></span></li>
                                <li class="pull-right"><a class="icon-user"><span>{{movie.PostedBy}}</span></a></li>
                            </ul>
                            <ul class="list list-inline thumb-meta">
                                <li><a href="#" class="icon-heart"></a><span>1</span></li>
                                <li class="icon-eye-open"><span>1</span></li>
                                <li class="pull-right "><a class="addthis_button_compact" addthis:url="http://shabeerjaleel.com"
                                    addthis:title="An Example Title" addthis:description="An Example Description"><span
                                        class="icon-plus">&nbsp;Share</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
           <div>
            <span>{{movie.Description}}</span>
           </div>

            </aside>
            
            </div>
        </div>
        <div class="gap">
        </div>
        <div class="row">
        <div class="span6 offset2">
        @Html.Partial("_UserComment")
    </div>
    </div>
    </div>
    <div class="gap">
    </div>

</div>
