@model object
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div  ng-class="{'hidden' : isActiveView('watch')}" ng-cloak >
    @Html.Partial("_ThumbList",@Model)
</div>

<div ng-class="{'hidden' : !isActiveView('watch')}"  class="animate hidden" ng-cloak>
    @Html.Partial("_Watch",@Model)
</div>

