@model object
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div  ng-show="!isActiveView('watch')" ng-cloak >
    @Html.Partial("_ThumbList",@Model)
</div>

<div ng-show="isActiveView('watch')"  class="animate" ng-cloak>
    @Html.Partial("_Watch",@Model)
</div>


