<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MovieFinderEntities" connectionString="metadata=res://*/MovieDB.csdl|res://*/MovieDB.ssdl|res://*/MovieDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=23.226.224.15;initial catalog=MovieFinder;user id=moviefinder;password=(Sui5cv9);multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>